@font-face {
	font-family: 'Metrize-Icons';
	src:url('fonts/Metrize-Icons.eot');
	src:url('fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Metrize-Icons.woff') format('woff'),
		url('fonts/Metrize-Icons.ttf') format('truetype'),
		url('fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[metrize-icon]:before {
	font-family: 'Metrize-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.metrize.icon-yen, .metrize.icon-world, .metrize.icon-wireframe-globe, .metrize.icon-wind, .metrize.icon-wifi, .metrize.icon-waves, .metrize.icon-viewport, .metrize.icon-viewport-video, .metrize.icon-user, .metrize.icon-user-remove, .metrize.icon-user-ban, .metrize.icon-user-add, .metrize.icon-upload, .metrize.icon-upload-selection, .metrize.icon-upload-selection-circle, .metrize.icon-underline, .metrize.icon-triple-points, .metrize.icon-top-bottom, .metrize.icon-three-points, .metrize.icon-three-points-top, .metrize.icon-three-points-bottom, .metrize.icon-text-width, .metrize.icon-text-size-upper, .metrize.icon-text-size-reduce, .metrize.icon-text-paragraph, .metrize.icon-text-normal, .metrize.icon-text-justify-right, .metrize.icon-text-justify-left, .metrize.icon-text-justify-center, .metrize.icon-text-height, .metrize.icon-text-center, .metrize.icon-text-bold, .metrize.icon-text-align-right, .metrize.icon-text-align-left, .metrize.icon-telephone, .metrize.icon-sunshine, .metrize.icon-sun, .metrize.icon-stop, .metrize.icon-star, .metrize.icon-speed, .metrize.icon-sound-on, .metrize.icon-sound-off, .metrize.icon-sos, .metrize.icon-social-zerply, .metrize.icon-social-youtube, .metrize.icon-social-yelp, .metrize.icon-social-yahoo, .metrize.icon-social-wordpress, .metrize.icon-social-virb, .metrize.icon-social-vimeo, .metrize.icon-social-viddler, .metrize.icon-social-twitter, .metrize.icon-social-tumblr, .metrize.icon-social-stumbleupon, .metrize.icon-social-soundcloud, .metrize.icon-social-skype, .metrize.icon-social-sharethis, .metrize.icon-social-quora, .metrize.icon-social-pinterest, .metrize.icon-social-photobucket, .metrize.icon-social-paypal, .metrize.icon-social-myspace, .metrize.icon-social-linkedin, .metrize.icon-social-last-fm, .metrize.icon-social-grooveshark, .metrize.icon-social-google-plus, .metrize.icon-social-github, .metrize.icon-social-forrst, .metrize.icon-social-flickr, .metrize.icon-social-facebook, .metrize.icon-social-evernote, .metrize.icon-social-envato, .metrize.icon-social-email, .metrize.icon-social-dribbble, .metrize.icon-social-digg, .metrize.icon-social-deviantart, .metrize.icon-social-blogger, .metrize.icon-social-behance, .metrize.icon-social-bebo, .metrize.icon-social-addthis, .metrize.icon-social-500px, .metrize.icon-snow, .metrize.icon-sliders, .metrize.icon-sliders-vertical, .metrize.icon-sign-male, .metrize.icon-sign-female, .metrize.icon-shield, .metrize.icon-settings, .metrize.icon-setting, .metrize.icon-select-square, .metrize.icon-select-circle, .metrize.icon-search, .metrize.icon-scale, .metrize.icon-rules, .metrize.icon-rss, .metrize.icon-retweet, .metrize.icon-report-comment, .metrize.icon-refresh, .metrize.icon-rec, .metrize.icon-random, .metrize.icon-quote, .metrize.icon-question, .metrize.icon-previous-fast-step, .metrize.icon-prev-step, .metrize.icon-pounds, .metrize.icon-podcast, .metrize.icon-plus, .metrize.icon-play, .metrize.icon-pin, .metrize.icon-pin-map, .metrize.icon-pig-money, .metrize.icon-pause, .metrize.icon-paperclip, .metrize.icon-paperclip-oblique, .metrize.icon-options-settings, .metrize.icon-officine, .metrize.icon-officine-2, .metrize.icon-off, .metrize.icon-number-zero, .metrize.icon-number-two, .metrize.icon-number-three, .metrize.icon-number-six, .metrize.icon-number-seven, .metrize.icon-number-one, .metrize.icon-number-nine, .metrize.icon-number-four, .metrize.icon-number-five, .metrize.icon-number-eight, .metrize.icon-next-step, .metrize.icon-next-fast-step, .metrize.icon-music, .metrize.icon-multi-borders, .metrize.icon-minus, .metrize.icon-marker, .metrize.icon-marker-points, .metrize.icon-marker-minus, .metrize.icon-marker-add, .metrize.icon-map, .metrize.icon-male-symbol, .metrize.icon-mailbox, .metrize.icon-mail, .metrize.icon-magnet, .metrize.icon-magic-wand, .metrize.icon-login-lock-refresh, .metrize.icon-locked, .metrize.icon-location, .metrize.icon-location-maps, .metrize.icon-list-square, .metrize.icon-list-circle, .metrize.icon-link-url, .metrize.icon-line-through, .metrize.icon-limit-directions, .metrize.icon-like-upload, .metrize.icon-like-remove, .metrize.icon-like-download, .metrize.icon-like-close, .metrize.icon-like-ban, .metrize.icon-like-add, .metrize.icon-left-right, .metrize.icon-leaf, .metrize.icon-layers, .metrize.icon-landscape, .metrize.icon-key, .metrize.icon-italic, .metrize.icon-info, .metrize.icon-idea, .metrize.icon-home-wifi, .metrize.icon-heart, .metrize.icon-hdd, .metrize.icon-hdd-raid, .metrize.icon-hdd-net, .metrize.icon-grids, .metrize.icon-grid-big, .metrize.icon-graphs, .metrize.icon-forward, .metrize.icon-fire, .metrize.icon-female-symbol, .metrize.icon-eye, .metrize.icon-eye-disabled, .metrize.icon-expand, .metrize.icon-expand-vertical, .metrize.icon-expand-horizontal, .metrize.icon-expand-directions, .metrize.icon-exclamation, .metrize.icon-euro, .metrize.icon-email-upload, .metrize.icon-email-spam, .metrize.icon-email-remove, .metrize.icon-email-luminosity, .metrize.icon-email-download, .metrize.icon-email-close, .metrize.icon-email-add, .metrize.icon-eject, .metrize.icon-drops, .metrize.icon-drop, .metrize.icon-download, .metrize.icon-download-selection, .metrize.icon-download-selection-circle, .metrize.icon-double-diamonds, .metrize.icon-dot-square, .metrize.icon-dot-line, .metrize.icon-dot-circle, .metrize.icon-dollar, .metrize.icon-documents, .metrize.icon-document, .metrize.icon-document-fill, .metrize.icon-directions, .metrize.icon-cross, .metrize.icon-credit-card, .metrize.icon-copy-paste-document, .metrize.icon-copy-document, .metrize.icon-contract-vertical, .metrize.icon-contract-horizontal, .metrize.icon-contract-directions, .metrize.icon-compass, .metrize.icon-compass-2, .metrize.icon-comments, .metrize.icon-comment, .metrize.icon-coins, .metrize.icon-cloud, .metrize.icon-cloud-upload, .metrize.icon-cloud-remove, .metrize.icon-cloud-download, .metrize.icon-cloud-add, .metrize.icon-clock, .metrize.icon-circles, .metrize.icon-check, .metrize.icon-chat, .metrize.icon-chart-down, .metrize.icon-cd-dvd-rom, .metrize.icon-camera, .metrize.icon-button-question, .metrize.icon-button-minus, .metrize.icon-button-exclamation, .metrize.icon-button-email, .metrize.icon-button-close, .metrize.icon-button-check, .metrize.icon-button-add, .metrize.icon-brush, .metrize.icon-browser-sizes, .metrize.icon-box-remove, .metrize.icon-box-close, .metrize.icon-box-blank, .metrize.icon-box-add, .metrize.icon-bolt, .metrize.icon-block-menu, .metrize.icon-blank, .metrize.icon-bezier, .metrize.icon-bars, .metrize.icon-ban-circle, .metrize.icon-bag, .metrize.icon-backward, .metrize.icon-axis-rules, .metrize.icon-atom, .metrize.icon-arrow-up, .metrize.icon-arrow-up-thin, .metrize.icon-arrow-up-light, .metrize.icon-arrow-up-bold, .metrize.icon-arrow-up-bold-round, .metrize.icon-arrow-up-big, .metrize.icon-arrow-right, .metrize.icon-arrow-right-thin, .metrize.icon-arrow-right-light, .metrize.icon-arrow-right-bold, .metrize.icon-arrow-right-bold-round, .metrize.icon-arrow-right-big, .metrize.icon-arrow-oblique-expand, .metrize.icon-arrow-oblique-expand-directions, .metrize.icon-arrow-oblique-contract, .metrize.icon-arrow-oblique-contract-directions, .metrize.icon-arrow-multi-line-up, .metrize.icon-arrow-multi-line-right, .metrize.icon-arrow-multi-line-left, .metrize.icon-arrow-multi-line-down, .metrize.icon-arrow-left, .metrize.icon-arrow-left-thin, .metrize.icon-arrow-left-light, .metrize.icon-arrow-left-bold, .metrize.icon-arrow-left-bold-round, .metrize.icon-arrow-left-big, .metrize.icon-arrow-fill-up, .metrize.icon-arrow-fill-right, .metrize.icon-arrow-fill-left, .metrize.icon-arrow-fill-down, .metrize.icon-arrow-down, .metrize.icon-arrow-down-thin, .metrize.icon-arrow-down-light, .metrize.icon-arrow-down-bold, .metrize.icon-arrow-down-bold-round, .metrize.icon-arrow-down-big, .metrize.icon-arrow-cycling, .metrize.icon-arrow-cycle, .metrize.icon-arrow-curve-right, .metrize.icon-arrow-curve-recycle, .metrize.icon-arrow-curve-left, .metrize.icon-animal-footprint, .metrize.icon-alarm-clock, .metrize.icon-air-plane, .metrize.icon-adjust, .metrize.icon-cube {
	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.metrize.icon-yen:before {
	content: "\e000";
}
.metrize.icon-world:before {
	content: "\e001";
}
.metrize.icon-wireframe-globe:before {
	content: "\e002";
}
.metrize.icon-wind:before {
	content: "\e003";
}
.metrize.icon-wifi:before {
	content: "\e004";
}
.metrize.icon-waves:before {
	content: "\e005";
}
.metrize.icon-viewport:before {
	content: "\e006";
}
.metrize.icon-viewport-video:before {
	content: "\e007";
}
.metrize.icon-user:before {
	content: "\e008";
}
.metrize.icon-user-remove:before {
	content: "\e009";
}
.metrize.icon-user-ban:before {
	content: "\e00a";
}
.metrize.icon-user-add:before {
	content: "\e00b";
}
.metrize.icon-upload:before {
	content: "\e00c";
}
.metrize.icon-upload-selection:before {
	content: "\e00d";
}
.metrize.icon-upload-selection-circle:before {
	content: "\e00e";
}
.metrize.icon-underline:before {
	content: "\e00f";
}
.metrize.icon-triple-points:before {
	content: "\e010";
}
.metrize.icon-top-bottom:before {
	content: "\e011";
}
.metrize.icon-three-points:before {
	content: "\e012";
}
.metrize.icon-three-points-top:before {
	content: "\e013";
}
.metrize.icon-three-points-bottom:before {
	content: "\e014";
}
.metrize.icon-text-width:before {
	content: "\e015";
}
.metrize.icon-text-size-upper:before {
	content: "\e016";
}
.metrize.icon-text-size-reduce:before {
	content: "\e017";
}
.metrize.icon-text-paragraph:before {
	content: "\e018";
}
.metrize.icon-text-normal:before {
	content: "\e019";
}
.metrize.icon-text-justify-right:before {
	content: "\e01a";
}
.metrize.icon-text-justify-left:before {
	content: "\e01b";
}
.metrize.icon-text-justify-center:before {
	content: "\e01c";
}
.metrize.icon-text-height:before {
	content: "\e01d";
}
.metrize.icon-text-center:before {
	content: "\e01e";
}
.metrize.icon-text-bold:before {
	content: "\e01f";
}
.metrize.icon-text-align-right:before {
	content: "\e020";
}
.metrize.icon-text-align-left:before {
	content: "\e021";
}
.metrize.icon-telephone:before {
	content: "\e022";
}
.metrize.icon-sunshine:before {
	content: "\e023";
}
.metrize.icon-sun:before {
	content: "\e024";
}
.metrize.icon-stop:before {
	content: "\e025";
}
.metrize.icon-star:before {
	content: "\e026";
}
.metrize.icon-speed:before {
	content: "\e027";
}
.metrize.icon-sound-on:before {
	content: "\e028";
}
.metrize.icon-sound-off:before {
	content: "\e029";
}
.metrize.icon-sos:before {
	content: "\e02a";
}
.metrize.icon-social-zerply:before {
	content: "\e02b";
}
.metrize.icon-social-youtube:before {
	content: "\e02c";
}
.metrize.icon-social-yelp:before {
	content: "\e02d";
}
.metrize.icon-social-yahoo:before {
	content: "\e02e";
}
.metrize.icon-social-wordpress:before {
	content: "\e02f";
}
.metrize.icon-social-virb:before {
	content: "\e030";
}
.metrize.icon-social-vimeo:before {
	content: "\e031";
}
.metrize.icon-social-viddler:before {
	content: "\e032";
}
.metrize.icon-social-twitter:before {
	content: "\e033";
}
.metrize.icon-social-tumblr:before {
	content: "\e034";
}
.metrize.icon-social-stumbleupon:before {
	content: "\e035";
}
.metrize.icon-social-soundcloud:before {
	content: "\e036";
}
.metrize.icon-social-skype:before {
	content: "\e037";
}
.metrize.icon-social-sharethis:before {
	content: "\e038";
}
.metrize.icon-social-quora:before {
	content: "\e039";
}
.metrize.icon-social-pinterest:before {
	content: "\e03a";
}
.metrize.icon-social-photobucket:before {
	content: "\e03b";
}
.metrize.icon-social-paypal:before {
	content: "\e03c";
}
.metrize.icon-social-myspace:before {
	content: "\e03d";
}
.metrize.icon-social-linkedin:before {
	content: "\e03e";
}
.metrize.icon-social-last-fm:before {
	content: "\e03f";
}
.metrize.icon-social-grooveshark:before {
	content: "\e040";
}
.metrize.icon-social-google-plus:before {
	content: "\e041";
}
.metrize.icon-social-github:before {
	content: "\e042";
}
.metrize.icon-social-forrst:before {
	content: "\e043";
}
.metrize.icon-social-flickr:before {
	content: "\e044";
}
.metrize.icon-social-facebook:before {
	content: "\e045";
}
.metrize.icon-social-evernote:before {
	content: "\e046";
}
.metrize.icon-social-envato:before {
	content: "\e047";
}
.metrize.icon-social-email:before {
	content: "\e048";
}
.metrize.icon-social-dribbble:before {
	content: "\e049";
}
.metrize.icon-social-digg:before {
	content: "\e04a";
}
.metrize.icon-social-deviantart:before {
	content: "\e04b";
}
.metrize.icon-social-blogger:before {
	content: "\e04c";
}
.metrize.icon-social-behance:before {
	content: "\e04d";
}
.metrize.icon-social-bebo:before {
	content: "\e04e";
}
.metrize.icon-social-addthis:before {
	content: "\e04f";
}
.metrize.icon-social-500px:before {
	content: "\e050";
}
.metrize.icon-snow:before {
	content: "\e051";
}
.metrize.icon-sliders:before {
	content: "\e052";
}
.metrize.icon-sliders-vertical:before {
	content: "\e053";
}
.metrize.icon-sign-male:before {
	content: "\e054";
}
.metrize.icon-sign-female:before {
	content: "\e055";
}
.metrize.icon-shield:before {
	content: "\e056";
}
.metrize.icon-settings:before {
	content: "\e057";
}
.metrize.icon-setting:before {
	content: "\e058";
}
.metrize.icon-select-square:before {
	content: "\e059";
}
.metrize.icon-select-circle:before {
	content: "\e05a";
}
.metrize.icon-search:before {
	content: "\e05b";
}
.metrize.icon-scale:before {
	content: "\e05c";
}
.metrize.icon-rules:before {
	content: "\e05d";
}
.metrize.icon-rss:before {
	content: "\e05e";
}
.metrize.icon-retweet:before {
	content: "\e05f";
}
.metrize.icon-report-comment:before {
	content: "\e060";
}
.metrize.icon-refresh:before {
	content: "\e061";
}
.metrize.icon-rec:before {
	content: "\e062";
}
.metrize.icon-random:before {
	content: "\e063";
}
.metrize.icon-quote:before {
	content: "\e064";
}
.metrize.icon-question:before {
	content: "\e065";
}
.metrize.icon-previous-fast-step:before {
	content: "\e066";
}
.metrize.icon-prev-step:before {
	content: "\e067";
}
.metrize.icon-pounds:before {
	content: "\e068";
}
.metrize.icon-podcast:before {
	content: "\e069";
}
.metrize.icon-plus:before {
	content: "\e06a";
}
.metrize.icon-play:before {
	content: "\e06b";
}
.metrize.icon-pin:before {
	content: "\e06c";
}
.metrize.icon-pin-map:before {
	content: "\e06d";
}
.metrize.icon-pig-money:before {
	content: "\e06e";
}
.metrize.icon-pause:before {
	content: "\e06f";
}
.metrize.icon-paperclip:before {
	content: "\e070";
}
.metrize.icon-paperclip-oblique:before {
	content: "\e071";
}
.metrize.icon-options-settings:before {
	content: "\e072";
}
.metrize.icon-officine:before {
	content: "\e073";
}
.metrize.icon-officine-2:before {
	content: "\e074";
}
.metrize.icon-off:before {
	content: "\e075";
}
.metrize.icon-number-zero:before {
	content: "\e076";
}
.metrize.icon-number-two:before {
	content: "\e077";
}
.metrize.icon-number-three:before {
	content: "\e078";
}
.metrize.icon-number-six:before {
	content: "\e079";
}
.metrize.icon-number-seven:before {
	content: "\e07a";
}
.metrize.icon-number-one:before {
	content: "\e07b";
}
.metrize.icon-number-nine:before {
	content: "\e07c";
}
.metrize.icon-number-four:before {
	content: "\e07d";
}
.metrize.icon-number-five:before {
	content: "\e07e";
}
.metrize.icon-number-eight:before {
	content: "\e07f";
}
.metrize.icon-next-step:before {
	content: "\e080";
}
.metrize.icon-next-fast-step:before {
	content: "\e081";
}
.metrize.icon-music:before {
	content: "\e082";
}
.metrize.icon-multi-borders:before {
	content: "\e083";
}
.metrize.icon-minus:before {
	content: "\e084";
}
.metrize.icon-marker:before {
	content: "\e085";
}
.metrize.icon-marker-points:before {
	content: "\e086";
}
.metrize.icon-marker-minus:before {
	content: "\e087";
}
.metrize.icon-marker-add:before {
	content: "\e088";
}
.metrize.icon-map:before {
	content: "\e089";
}
.metrize.icon-male-symbol:before {
	content: "\e08a";
}
.metrize.icon-mailbox:before {
	content: "\e08b";
}
.metrize.icon-mail:before {
	content: "\e08c";
}
.metrize.icon-magnet:before {
	content: "\e08d";
}
.metrize.icon-magic-wand:before {
	content: "\e08e";
}
.metrize.icon-login-lock-refresh:before {
	content: "\e08f";
}
.metrize.icon-locked:before {
	content: "\e090";
}
.metrize.icon-location:before {
	content: "\e091";
}
.metrize.icon-location-maps:before {
	content: "\e092";
}
.metrize.icon-list-square:before {
	content: "\e093";
}
.metrize.icon-list-circle:before {
	content: "\e094";
}
.metrize.icon-link-url:before {
	content: "\e095";
}
.metrize.icon-line-through:before {
	content: "\e096";
}
.metrize.icon-limit-directions:before {
	content: "\e097";
}
.metrize.icon-like-upload:before {
	content: "\e098";
}
.metrize.icon-like-remove:before {
	content: "\e099";
}
.metrize.icon-like-download:before {
	content: "\e09a";
}
.metrize.icon-like-close:before {
	content: "\e09b";
}
.metrize.icon-like-ban:before {
	content: "\e09c";
}
.metrize.icon-like-add:before {
	content: "\e09d";
}
.metrize.icon-left-right:before {
	content: "\e09e";
}
.metrize.icon-leaf:before {
	content: "\e09f";
}
.metrize.icon-layers:before {
	content: "\e0a0";
}
.metrize.icon-landscape:before {
	content: "\e0a1";
}
.metrize.icon-key:before {
	content: "\e0a2";
}
.metrize.icon-italic:before {
	content: "\e0a3";
}
.metrize.icon-info:before {
	content: "\e0a4";
}
.metrize.icon-idea:before {
	content: "\e0a5";
}
.metrize.icon-home-wifi:before {
	content: "\e0a6";
}
.metrize.icon-heart:before {
	content: "\e0a7";
}
.metrize.icon-hdd:before {
	content: "\e0a8";
}
.metrize.icon-hdd-raid:before {
	content: "\e0a9";
}
.metrize.icon-hdd-net:before {
	content: "\e0aa";
}
.metrize.icon-grids:before {
	content: "\e0ab";
}
.metrize.icon-grid-big:before {
	content: "\e0ac";
}
.metrize.icon-graphs:before {
	content: "\e0ad";
}
.metrize.icon-forward:before {
	content: "\e0ae";
}
.metrize.icon-fire:before {
	content: "\e0af";
}
.metrize.icon-female-symbol:before {
	content: "\e0b0";
}
.metrize.icon-eye:before {
	content: "\e0b1";
}
.metrize.icon-eye-disabled:before {
	content: "\e0b2";
}
.metrize.icon-expand:before {
	content: "\e0b3";
}
.metrize.icon-expand-vertical:before {
	content: "\e0b4";
}
.metrize.icon-expand-horizontal:before {
	content: "\e0b5";
}
.metrize.icon-expand-directions:before {
	content: "\e0b6";
}
.metrize.icon-exclamation:before {
	content: "\e0b7";
}
.metrize.icon-euro:before {
	content: "\e0b8";
}
.metrize.icon-email-upload:before {
	content: "\e0b9";
}
.metrize.icon-email-spam:before {
	content: "\e0ba";
}
.metrize.icon-email-remove:before {
	content: "\e0bb";
}
.metrize.icon-email-luminosity:before {
	content: "\e0bc";
}
.metrize.icon-email-download:before {
	content: "\e0bd";
}
.metrize.icon-email-close:before {
	content: "\e0be";
}
.metrize.icon-email-add:before {
	content: "\e0bf";
}
.metrize.icon-eject:before {
	content: "\e0c0";
}
.metrize.icon-drops:before {
	content: "\e0c1";
}
.metrize.icon-drop:before {
	content: "\e0c2";
}
.metrize.icon-download:before {
	content: "\e0c3";
}
.metrize.icon-download-selection:before {
	content: "\e0c4";
}
.metrize.icon-download-selection-circle:before {
	content: "\e0c5";
}
.metrize.icon-double-diamonds:before {
	content: "\e0c6";
}
.metrize.icon-dot-square:before {
	content: "\e0c7";
}
.metrize.icon-dot-line:before {
	content: "\e0c8";
}
.metrize.icon-dot-circle:before {
	content: "\e0c9";
}
.metrize.icon-dollar:before {
	content: "\e0ca";
}
.metrize.icon-documents:before {
	content: "\e0cb";
}
.metrize.icon-document:before {
	content: "\e0cc";
}
.metrize.icon-document-fill:before {
	content: "\e0cd";
}
.metrize.icon-directions:before {
	content: "\e0ce";
}
.metrize.icon-cross:before {
	content: "\e0cf";
}
.metrize.icon-credit-card:before {
	content: "\e0d0";
}
.metrize.icon-copy-paste-document:before {
	content: "\e0d1";
}
.metrize.icon-copy-document:before {
	content: "\e0d2";
}
.metrize.icon-contract-vertical:before {
	content: "\e0d3";
}
.metrize.icon-contract-horizontal:before {
	content: "\e0d4";
}
.metrize.icon-contract-directions:before {
	content: "\e0d5";
}
.metrize.icon-compass:before {
	content: "\e0d6";
}
.metrize.icon-compass-2:before {
	content: "\e0d7";
}
.metrize.icon-comments:before {
	content: "\e0d8";
}
.metrize.icon-comment:before {
	content: "\e0d9";
}
.metrize.icon-coins:before {
	content: "\e0da";
}
.metrize.icon-cloud:before {
	content: "\e0db";
}
.metrize.icon-cloud-upload:before {
	content: "\e0dc";
}
.metrize.icon-cloud-remove:before {
	content: "\e0dd";
}
.metrize.icon-cloud-download:before {
	content: "\e0de";
}
.metrize.icon-cloud-add:before {
	content: "\e0df";
}
.metrize.icon-clock:before {
	content: "\e0e0";
}
.metrize.icon-circles:before {
	content: "\e0e1";
}
.metrize.icon-check:before {
	content: "\e0e2";
}
.metrize.icon-chat:before {
	content: "\e0e3";
}
.metrize.icon-chart-down:before {
	content: "\e0e4";
}
.metrize.icon-cd-dvd-rom:before {
	content: "\e0e5";
}
.metrize.icon-camera:before {
	content: "\e0e6";
}
.metrize.icon-button-question:before {
	content: "\e0e7";
}
.metrize.icon-button-minus:before {
	content: "\e0e8";
}
.metrize.icon-button-exclamation:before {
	content: "\e0e9";
}
.metrize.icon-button-email:before {
	content: "\e0ea";
}
.metrize.icon-button-close:before {
	content: "\e0eb";
}
.metrize.icon-button-check:before {
	content: "\e0ec";
}
.metrize.icon-button-add:before {
	content: "\e0ed";
}
.metrize.icon-brush:before {
	content: "\e0ee";
}
.metrize.icon-browser-sizes:before {
	content: "\e0ef";
}
.metrize.icon-box-remove:before {
	content: "\e0f0";
}
.metrize.icon-box-close:before {
	content: "\e0f1";
}
.metrize.icon-box-blank:before {
	content: "\e0f2";
}
.metrize.icon-box-add:before {
	content: "\e0f3";
}
.metrize.icon-bolt:before {
	content: "\e0f4";
}
.metrize.icon-block-menu:before {
	content: "\e0f5";
}
.metrize.icon-blank:before {
	content: "\e0f6";
}
.metrize.icon-bezier:before {
	content: "\e0f7";
}
.metrize.icon-bars:before {
	content: "\e0f8";
}
.metrize.icon-ban-circle:before {
	content: "\e0f9";
}
.metrize.icon-bag:before {
	content: "\e0fa";
}
.metrize.icon-backward:before {
	content: "\e0fb";
}
.metrize.icon-axis-rules:before {
	content: "\e0fc";
}
.metrize.icon-atom:before {
	content: "\e0fd";
}
.metrize.icon-arrow-up:before {
	content: "\e0fe";
}
.metrize.icon-arrow-up-thin:before {
	content: "\e0ff";
}
.metrize.icon-arrow-up-light:before {
	content: "\e100";
}
.metrize.icon-arrow-up-bold:before {
	content: "\e101";
}
.metrize.icon-arrow-up-bold-round:before {
	content: "\e102";
}
.metrize.icon-arrow-up-big:before {
	content: "\e103";
}
.metrize.icon-arrow-right:before {
	content: "\e104";
}
.metrize.icon-arrow-right-thin:before {
	content: "\e105";
}
.metrize.icon-arrow-right-light:before {
	content: "\e106";
}
.metrize.icon-arrow-right-bold:before {
	content: "\e107";
}
.metrize.icon-arrow-right-bold-round:before {
	content: "\e108";
}
.metrize.icon-arrow-right-big:before {
	content: "\e109";
}
.metrize.icon-arrow-oblique-expand:before {
	content: "\e10a";
}
.metrize.icon-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.metrize.icon-arrow-oblique-contract:before {
	content: "\e10c";
}
.metrize.icon-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.metrize.icon-arrow-multi-line-up:before {
	content: "\e10e";
}
.metrize.icon-arrow-multi-line-right:before {
	content: "\e10f";
}
.metrize.icon-arrow-multi-line-left:before {
	content: "\e110";
}
.metrize.icon-arrow-multi-line-down:before {
	content: "\e111";
}
.metrize.icon-arrow-left:before {
	content: "\e112";
}
.metrize.icon-arrow-left-thin:before {
	content: "\e113";
}
.metrize.icon-arrow-left-light:before {
	content: "\e114";
}
.metrize.icon-arrow-left-bold:before {
	content: "\e115";
}
.metrize.icon-arrow-left-bold-round:before {
	content: "\e116";
}
.metrize.icon-arrow-left-big:before {
	content: "\e117";
}
.metrize.icon-arrow-fill-up:before {
	content: "\e118";
}
.metrize.icon-arrow-fill-right:before {
	content: "\e119";
}
.metrize.icon-arrow-fill-left:before {
	content: "\e11a";
}
.metrize.icon-arrow-fill-down:before {
	content: "\e11b";
}
.metrize.icon-arrow-down:before {
	content: "\e11c";
}
.metrize.icon-arrow-down-thin:before {
	content: "\e11d";
}
.metrize.icon-arrow-down-light:before {
	content: "\e11e";
}
.metrize.icon-arrow-down-bold:before {
	content: "\e11f";
}
.metrize.icon-arrow-down-bold-round:before {
	content: "\e120";
}
.metrize.icon-arrow-down-big:before {
	content: "\e121";
}
.metrize.icon-arrow-cycling:before {
	content: "\e122";
}
.metrize.icon-arrow-cycle:before {
	content: "\e123";
}
.metrize.icon-arrow-curve-right:before {
	content: "\e124";
}
.metrize.icon-arrow-curve-recycle:before {
	content: "\e125";
}
.metrize.icon-arrow-curve-left:before {
	content: "\e126";
}
.metrize.icon-animal-footprint:before {
	content: "\e127";
}
.metrize.icon-alarm-clock:before {
	content: "\e128";
}
.metrize.icon-air-plane:before {
	content: "\e129";
}
.metrize.icon-adjust:before {
	content: "\e12a";
}
.metrize.icon-cube:before {
	content: "\e12b";
}
