.element-search{
  /*border-bottom-color: rgba(0, 0, 0, 0.05);*/
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.05);*/
  padding: 0px 0px;
  /*position: relative;*/
  margin: 0px 1rem;
  /*-webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;*/
  &:before {
    font-family: 'osfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    content: "\e92c";
    color: rgba(0, 0, 0, 0.4);
  }
  input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 30px 5px 40px;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: rgba(91, 109, 136, 0.1);
    & + .clear {
      display: inline;
      position: absolute;
      top: 50%;
      left: 245px;
      margin-top: -11px;
      background: black;
      color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      text-align: center;
      line-height: 23px;
      /* cursor: pointer; */
    }
    &.active + .clear{
      display: none;
    }
  }
}
.color-scheme-dark .element-search input {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.color-scheme-dark .element-search:before {
  color: rgba(255, 255, 255, 0.4);
}
.color-scheme-dark .element-search input + .clear{
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}