{% import "forms.html" as form %}
{{ setTitle(("Modifier : <b>"+ role+"</b>") if _id else "Creer role") }}
<div class="element-wrapper">
    <h6 class="element-header">
        {{ form.button(generateUUID(), '<i class="icon-home"></i>', href='auth:views/roles-user.html') }}
    </h6>
    <div class="element-box">
        {{
			form.create(size=12, fields={
				role : {
					type  : 'text',
					label : 'Nom',
					placeholder : 'Nom',
					value : role
				},
				droits : {
					type  : 'checkboxgroup',
					label : 'Droits',
					value : droits,
					items : app.droits
				}
			}  | push(extends("role")))
		}}
    </div>
</div>
<script> 
	$("form").submit(async evt=>{
		var data = $("form").serializeArray().reduce((a,b)=>{
			if(b.name in a){
				// allow handle checkbox
				a[b.name] = Array.isArray(a[b.name]) ? a[b.name] : [a[b.name]];
				a[b.name].push(b.value);
			}else
	          	a[b.name] = b.value;
          	return a;
        },{});
		if(!data.role)
          return error("Le nom ne peut etre vide");

		{% if _id %}
		data.mtime = Date.now();
		data.updatedBy = app.locales.user._id;
		data._id = '{{_id}}';
		data._rev = '{{_rev}}';
		{% else %}
		data.ctime = Date.now();
		data.mtime = null;
		data.createdBy = app.locales.user._id;
		data.root = false;
		{% endif %}
		try{
			let doc = {
				_id : 'role/{{ generateUUID() }}',
				...data
			};
			await app.dbUsersPut(doc);	
			try{
				await success();
			}catch(e){}
			app.goto('auth:views/roles-user.html');
		}catch(e){
			console.log("Error",e)
			error(e.message);
		}
        return false;
	})
</script>