<form>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">Your Full Name</label><input class="form-control" placeholder="Enter your full name..." type="text" value="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">Your Role [{{obj}}]</label><select class="form-control">
          <option>
            Web Developer
          </option>
          <option>
            Business Owner
          </option>
          <option>
            Other
          </option>
        </select>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
  console.log("register.html")
</script>