{{ setTitle(raison if raison else "++" ) }}
<link href="{{getLink('css/element-search.css')}}" rel="stylesheet">
<style type="text/css">
  .pi-body .pi-info{
    width: 100%;
  }
  .pi-body .pi-info .pi-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .pi-body .pi-info .pi-sub {
    width: 100%;
    font-size: 90%;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.7) !important;
  }
  body.color-scheme-dark .pi-body .pi-info .pi-sub{
    color: rgba(255,255,255,0.7) !important;
  }
  .pipeline-item .pi-body:first-child{
    padding-bottom: 2px;
    background: rgba(0,0,0,0.13);
  }
  body.color-scheme-dark .pipeline.white .pipeline-item:hover {
    border: 1px solid #58595F;
    -webkit-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1) !important;
  }

  dash-client{
    width: 100%;
    height: calc(100% - 68px);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
  }
  dash-client .pipelines-w,
  dash-client .pipelines-w .row,
  dash-client .pipelines-w .row > div,
  dash-client .pipelines-w .row .pipeline{
    height: 100%;
  }
  dash-client .pipelines-w .row .pipeline-body{
    height: calc(100% - 90px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
  }
  dash-client .pipeline-settings .btn-link-action {
    padding: 0;
    margin: 0;
  }
  dash-client .pipeline-settings .btn-link-action i {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }
  dash-client .pipeline-settings .btn-link-action:hover i{
    color: #334152;
  }
  body.color-scheme-dark dash-client .pipeline-settings .btn-link-action:hover i{
    color: #FFF;
  }
  .pi-foot{
      text-align: right;
  }
  .pi-foot .extra-info{
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /*.pi-name{
    padding: 5px 25px 10px 10px;
    margin-bottom: 0;
    background-color: #F1F4F8;
    color: rgba(0, 0, 0, 0.6) !important;
    text-transform: uppercase;
  }
  .color-scheme-dark .pi-name{
    background-color: #2c354e;
    color:  rgba(218, 226, 243, 0.4) !important;
  }*/
  .pipeline-item hr{
    margin: 0;
  }
  .pi-extra-info{
    text-align: left;
    font-size: 80%;
    padding: 10px 5px;
  }
  .pi-extra-info .expire{
    /*padding-bottom: 10px;*/
  }
  .pi-extra-info .badge{
    text-transform: lowercase;
    font-variant: small-caps;
    margin: 2px;
  }
  
</style>
<div class="control-header">
  <div class="row align-items-center">
    <div class="col-8 col-lg-9">
      {% include getLink("views/dash-filter.html") %}
    </div>
    <div class="col-4 col-lg-3 text-right">
      <!-- <a class="btn btn-sm btn-outline-primary btn-rounded btn-upper mr-4" href="#"><i class="os-icon os-icon-newspaper"></i><span>Rapport</span></a> -->
    </div>
  </div>
</div>
<dash-client>
  <div class="pipelines-w">
    <div class="row">
      <div class="col-lg-6 col-xl-4 col-xxl-3">
        <!--------------------
        START - Pipeline
        -------------------->
        <div class="pipeline white lined-primary">
          <div class="pipeline-header">
            <h5 class="pipeline-name">
              DEVIS
            </h5>
            <div class="pipeline-header-numbers">
              <div class="pipeline-value c-devis-value">{{convertToMoney(0)}}</div>
              <div class="pipeline-count c-devis-doc">0 Document</div>
            </div>
            <div class="pipeline-settings">
              <a class="btn btn-link-action text-primary" data-placement="top" data-toggle="tooltip" title="Creer Devis" href="{{ getLink('views/c-facture.html?devis=1') }}&client={{_id}}"><i class="dashicons dashicons-plus"></i></a>
            </div>
          </div>
          <div class="pipeline-body c-devis-list">
          </div>
        </div>
        <!--------------------
        END - Pipeline
        -------------------->
      </div>
      <div class="col-lg-6 col-xl-4 col-xxl-3">
        <!--------------------
        START - Pipeline
        -------------------->
        <div class="pipeline white lined-danger">
          <div class="pipeline-header">
            <h5 class="pipeline-name">
              Facture
            </h5>
            <div class="pipeline-header-numbers">
              <div class="pipeline-value c-facture-value">{{convertToMoney(0)}}</div>
              <div class="pipeline-count c-facture-doc">0 Document</div>
            </div>
            <div class="pipeline-settings">
              <a class="btn btn-link-action text-danger" data-placement="top" data-toggle="tooltip" title="Creer Facture" href="{{ getLink('views/c-facture.html') }}?client={{_id}}"><i class="dashicons dashicons-plus"></i></a>
            </div>
          </div>
          <div class="pipeline-body c-facture-list">
          </div>
        </div>
        <!--------------------
        END - Pipeline
        -------------------->
      </div>
      <div class="col-lg-6 col-xl-4 col-xxl-3">
        <!--------------------
        START - Pipeline
        -------------------->
        <div class="pipeline white lined-success">
          <div class="pipeline-header">
            <h5 class="pipeline-name">
              Payes
            </h5>
            <div class="pipeline-header-numbers">
              <div class="pipeline-value c-paye-value">{{convertToMoney(0)}}</div>
              <div class="pipeline-count c-paye-doc">0 Document</div>
            </div>
            <div class="pipeline-settings">
            </div>
          </div>
          <div class="pipeline-body c-paye-list">
          </div>
        </div>
        <!--------------------
        END - Pipeline
        -------------------->
      </div>
      <div class="col-lg-6 col-xl-4 col-xxl-3 d-none d-xxl-block">
        <!--------------------
        START - Pipeline
        -------------------->
        <div class="pipeline white lined-warning">
          <div class="pipeline-header">
            <h5 class="pipeline-name">
              Expires
            </h5>
            <div class="pipeline-header-numbers">
              <div class="pipeline-value c-expire-value">{{convertToMoney(0)}}</div>
              <div class="pipeline-count c-expire-doc">0 Document</div>
            </div>
            <div class="pipeline-settings"></div>
          </div>
          <div class="pipeline-body c-expire-list">
          </div>
        </div>
        <!--------------------
        END - Pipeline
        -------------------->
      </div>
    </div>
  </div>
</dash-client>

<script type="text/javascript">
  // #15. CRM PIPELINE
  if ($('.pipeline').length) {
    $('[data-toggle="tooltip"]').click(function(){
      $(this).tooltip('hide');
      $(".tooltip").remove();
    }).tooltip();
    let getItem = (type,facture)=>{
      let total = {ttc:0,ht:0,doc:0};
      facture.libelle = facture.libelle||"Libelle de la facture";
      let ret =$(`
        <div class="pipeline-item">
          <div class="pi-controls">
            <div class="pi-settings"></div>
            <div class="status status-green" data-placement="top" data-toggle="tooltip" title="Active Status"></div>
          </div>
          <div class="pi-body">
            <div class="pi-info">
              <h6 class="h6 pi-name">${facture.libelle}</h6>
              <div class="pi-sub">
                <b>Valide du ${moment(facture.startAt).format("DD/MM/YYYY")} au ${moment(facture.endAt).format("DD/MM/YYYY")}</b>
              </div>
            </div>
          </div>
          <hr>
          <div class="pi-body">
            <table class="pi-info">
              <tr><td><i class="fa fa-money"></i></td><td>Montant HT</td><td>${ convertToMoney(total.ht += facture.items.reduce((a,b)=>{
                      a+= (b.montant - b.montant * b.reduction) * b.quantite
                      return a;
                    },0))}</td></tr>
              <tr><td><i class="fa fa-money"></i></td><td>Montant TTC</td><td>${convertToMoney(total.ttc += facture.items.reduce((a,b)=>{
                      let total = (b.montant - b.montant * b.reduction) * b.quantite;
                      let taxe1 = facture.taxe1 || TAXE1;
                      let taxe2 = facture.taxe2 || TAXE2;
                      taxe1 = total*taxe1/100// taxe1
                      taxe2 = total*taxe2/100// taxe2
                      a+= total + taxe1 + taxe2;
                      return a;
                    },0))}</td></tr>
            </table>
          </div>
          <center class="pi-extra-info">
          {#
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-dark">Dark</span>
          #}
            </center>
          </center>
        </div>
      `);
      ret.attr("libelle",facture.libelle);
      ret.attr("ctime",facture.startAt);
      ret.attr("montant",total.ttc);
      ret.data(facture);
      $(`.c-${type}-value`).get(0).value += total.ttc;
      $(`.c-${type}-doc`).get(0).value += 1;
      return ret;
    };
    // INIT DRAG AND DROP FOR PIPELINE ITEMS
    // var dragulaObj = dragula($('.pipeline-body').toArray(), {}).on('drag', function () {}).on('drop', function (el) {}).on('over', function (el, container) {
    //   $(container).closest('.pipeline-body').addClass('over');
    // }).on('out', function (el, container, source) {

    //   var new_pipeline_body = $(container).closest('.pipeline-body');
    //   new_pipeline_body.removeClass('over');
    //   var old_pipeline_body = $(source).closest('.pipeline-body');
    // });
    let filterDataFn = ()=>{
      let val =$('#filter-all').val(); 
      let valSort =$('#sort-all').val().split("|");
      $('#filter-all')[!val ? 'addClass' : 'removeClass']('active');
      (["facture","devis","paye","expire"]).forEach(id=>{
        tinysort(`.c-${id}-list>.pipeline-item`,{attr: valSort[0], order: valSort[1]});
        $(`.c-${id}-list>.pipeline-item`).show().filter(function(){return this.getAttribute('libelle').toLowerCase().search(val) == -1 }).hide() 
      })
    }
    let filterDataTTL = null;
    let filterData = (e)=>{
      if(e) e.preventDefault();
      clearTimeout(filterDataTTL);
      filterDataTTL = setTimeout(()=>{
        filterDataFn();
      },750);
    }
    let load= (typeDocument,selector={})=>{
      // chargement des factures
      $(`.c-${typeDocument}-list`).html(loaderHTML); // add loadder indicator
      Object.defineProperty($(`.c-${typeDocument}-value`).get(0),'value',{
        get(){
          return convertToMontant(this.innerText);
        },
        set(value){
          this.innerText = convertToMoney(value);
        }
      });
      Object.defineProperty($(`.c-${typeDocument}-doc`).get(0),'value',{
        get(){
          return convertToMontant(this.innerText);
        },
        set(value){
          this.innerText = convertToMoney(value," ","",0," Document"+(value>1 ? 's' : ''));
        }
      });
      console.log(typeDocument, "load ==>",{
        selector : {
          ...selector,
          _id : {$regex : `^facture/`},
          type : typeDocument,
          {% if _id %}
          client : '{{_id | safe}}'
          {% else %}
          client : { $exists : false }
          {% endif %}
        }
      })
      app.dbComptabiliteFind({
        selector : {
          ...selector,
          _id : {$regex : `^facture/`},
          type : typeDocument,
          {% if _id %}
          client : '{{_id | safe}}'
          {% else %}
          client : { $exists : false }
          {% endif %}
        }
      }).then(res=>{
        $(`.c-${typeDocument}-list`).html("");
        if(res.docs.length == 0){
          return;
        }
        res.docs.forEach(facture=>{
          let l = $(loaderHTML);
          $(`.c-${typeDocument}-list`).append(l);
          l.replaceWith(getItem(typeDocument,facture));
          filterData();
        })
      }) 
    }
    // chargement des factures
    load('facture');
    // chargement des devis
    load('devis');
    // chargement des factures payes
    load('paye');
    // chargement des factures expires
    load('expire');

    $('.pipeline-body').on('click','.pipeline-item', function(el){
      app.goto(getLink("views/c-facture.html"),$(this).data())
    })
    $("#sort-all").change(filterData);
    $("#filter-all").keyup(e=>{
      if(e.target.classList.contains('active') && e.target.value){
        e.target.classList.remove('active');
      }else if(!e.target.classList.contains('active') && !e.target.value){
        e.target.classList.add('active');
      }
      filterData(e);
    });
    $('#filter-all + .clear').click(e=>{
      $("#filter-all").val("");
      $("#filter-all").addClass('active');
      filterData();
    })
  }
</script>