<form action="#" class="form-inline">
  <div class="element-search">
    <input class="active" id="filter-all" placeholder="Start typing to search..." type="text">
    <span class="clear"><i class="os-icon os-icon-x"></i></span>
  </div>
  <div class="form-group">
    <select id="sort-all" class="form-control-sm fa">
      <option value="ctime|desc">
        &#xf160; Plus recent
      </option>
      <option  value="ctime|asc">
        &#xf161; Plus Ancien
      </option>
      <option  value="montant|asc">
        &#xf162; Plus petit montant
      </option>
      <option  value="montant|desc">
        &#xf163; Plus grand montant
      </option>
    </select>
  </div>
</form>